/.lake
/blueprint/print
/blueprint/web
*.paux
lean_decls
*~
*.log
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.out
/blueprint/src/chapters/.auctex-auto/
/blueprint/src/macros/.auctex-auto/
/blueprint/src/.auctex-auto/
/blueprint/src/chapters/_region_.tex
*.bbl
*.blg
/blueprint/src/print.pdf